.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 20px;
  background-color: #fff;
  overflow: hidden;
}

.navbar-left {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo-image {
  max-height: 100%;
  transform: scale(1.6);
  transform-origin: left center;
  object-fit: contain;
}

.navbar-center {
  display: flex;
  justify-content: center;
  flex: 1;
}

.navbar-center ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: 50px; 
}

.navbar-right a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem;
  border-radius: 50%;
  background-color: transparent; 
}

.navbar-right a:hover {
  background-color: #ccc; 
}

.profile-image {
  width: 35px; 
  height: 35px;
  border-radius: 50%; 
  object-fit: cover; 
  cursor: pointer;
}
  